QListView {
    show-decoration-selected: 1; /* make the selection span the entire width of the view */
    background: #36496e;
    border: 5px solid #25385d;
}

QListView::item:alternate {
    background: #14274e;
}

QListView::item:selected {
    border: 1px solid #14274e;
}

QListView::item:selected:!active {
    background: #8588B2;
}

QListView::item:selected:active {
    background: #14274e;
}

QListView::item:hover {
    background: #586b8f;
}

QLabel:hover {
    background: #586b8f;
}
